.img-con{
  position: relative;
  width : 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  .img{
    display : block;
    width: 100%;
    height: 100%;


  }
  .fa-close{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    font-size: 50px;
    color: #aaa;
    background: rgba(0,0,0,.2);
     
  }
  &:hover{
    .fa-close{
      display: block;
    }
  }
}
.file-upload-con{
    margin-top: 15px;
}
